ul {
    list-style: none;
    margin: 2rem auto;
    box-shadow: 0 2px 8px yellow;
    padding: 1rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 29rem;
    background-color: lightgrey;
    border-radius: 1rem;
}

li {
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

li:last-of-type,
li:nth-of-type(6) {
    border-bottom: none;
}

li a {
    text-decoration: none;
    color: rgb(47, 53, 53);
}

li a:hover,
li a:active {
    color: rgb(94, 94, 81);
}