{% extends "base.html" %} 

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blogs/post.css" %}">
{% endblock  %}

{% block page_title %}
Blog | {{slug | title}}
{% endblock  %}

{% block content %}
{% include "blogs/includes/header.html" %}
<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in post.tags.all %}
        <span class="tag">{{tag.name}}</span> {% if not forloop.last %},{% endif %}
        {% empty %}
        No Tags
        {% endfor %}
    </div>
    <article>
        <img src="{% static "blogs/images/dj.jpg" %}" alt="Post Title"/>
        <address>{{post.author}}</address>
        <div>
            Last updated on: <time>{{post.updated_at}}</time>
        </div>

    </article>
</section>
<main>
    <p>{{post.description}}</p>
</main>
{% endblock  %}